# Ignorar o arquivo .env
.env

# Ignorar arquivos e pastas de logs
*.log
logs/

# Ignorar a pasta node_modules (dependências do Node.js)
node_modules/

# Ignorar arquivos de compilação e builds
dist/
build/

# Ignorar arquivos temporários do sistema
.DS_Store
.npm/